@charset "utf-8";
@import "fontello.css";

/* 웹폰트 선언 */

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/*숨김 콘텐츠*/

legend,
.hidden {
    position: absolute;
    left: -99999em;
}


/* 요소의 여백 초기화 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* 제목크기 초기화 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}


/* 기본 스타일 */

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 1.4rem;
    line-height: 1.15;
}

input,
textarea,
select,
option,
button {
    font-family: inherit;
    font-size: inherit;
}


/* 레이아웃 */

.wrapper {
    background: url(images/bg_flower.png) no-repeat 50% 0, linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1) 100%) repeat 0 0;
    /*background-attachment: fixed; 배경고정*/
    height: 100vh;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* 링크 스타일 */

a {
    color: inherit;
    text-decoration: none;
}


/* 헤더 */

.header {
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    position: relative;
    padding: 0 30px 40px 30px;
}


/* 로고 */

.logo {
    position: absolute;
    top: 45px;
    left: 60px;
}


/* 텍스트링크 - 안내링크 */

.info-menu {
    list-style-type: none;
    font-size: 0;
    text-align: right;
    position: relative;
    right: -10px;
}

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.info-menu a {
    padding: 10px;
}

.info-menu li::after {
    content: ":";
}

.info-menu li:last-child::after {
    content: "";
}


/* 메인 메뉴 */

.main-menu {
    background: linear-gradient(to bottom, #e5892d 0%, #e0652c 35%, #e0652c 65%, #e5892d 100%);
    list-style-type: none;
    border-top: 2px solid #181818;
    border-radius: 0 0 5px 5px;
    padding-left: 225px;
    height: 45px;
}

.main-menu>li {
    float: left;
    position: relative;
}

.main-menu span {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    color: rgba(255, 255, 255, 0.95);
    display: block;
    padding: 0 20px;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    text-shadow: 1px 0px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000, 0px 1px 0 #000;
}

.main-menu span:hover,
.main-menu span:focus {
    color: #ff0;
    outline: 0;
}

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    border-top: 2px solid #181818;
}

.main-menu ul {
    list-style-type: none;
    position: absolute;
    white-space: nowrap;
    top: 45px;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    position: relative;
    top: 2px;
}

.main-menu ul a:hover::before,
.main-menu ul a:focus::before {
    content: "c";
}

.main-menu ul a {
    padding: 8px 15px 7px 0;
    display: block;
}

.about-html {
    display: none;
    left: 0;
}

.about-css {
    display: none;
    left: 0;
}

.web-standard {
    display: none;
    left: 0;
}

.web-accessibility {
    display: none;
    left: -140px;
}

.qna {
    display: none;
    left: -170px;
}

.archive {
    display: none;
    right: -25px;
}


/* 비주얼 */

@keyframes text-ani {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 70px);
    }
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    animation: flower-ani 2s infinite alternate;
}

.visual::before {
    background: url(images/ani_flower_01.png) no-repeat 0 -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
}

.visual::after {
    background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 0;
    animation-delay: 2s;
}

@keyframes flower-ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.visual-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    animation: text-ani 1.5s forwards ease-in-out;
}

.main-content {
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    min-height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
}

.group1 {
    width: 250px;
    /*align-self: flex-end; 혼자만 이동*/
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
    /*order: -1; 맨 앞으로 이동*/
}


/*로그인*/

.login {
    padding: 10px;
    border-radius: 5px;
    background: radial-gradient(circle at right top, #e5892d, #e0652c);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

.login-heading {
    color: #ff0;
    font-family: "Noto Sans Bold";
    font-size: 1.6rem;
    text-indent: 10px
}

.login-form {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.login-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.user-pw {
    margin-top: 6px;
}

.login-form label {
    width: 4em;
    display: inline-block;
    cursor: pointer;
}

.login-form input {
    box-sizing: border-box;
    width: 95px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0;
    cursor: pointer;
    background: hsla(0, 100%, 50%, 1);
    color: #fff;
    border-radius: 3px;
}

.member {
    /*앞에 동그라미가 사라짐*/
    list-style-type: none;
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 0 10px 10px 10px;
}


/*float 이슈를 해결하기 위한 clear fix*/

.member::after {
    content: "";
    display: block;
    clear: both;
}

.icon-user::before,
.icon-ok::before {
    color: #f00;
}

.join {
    font-size: 13px;
    float: left;
}

.find {
    font-size: 13px;
    float: right;
}


/*
.login {
    background: radial-gradient(circle at right top, #e5892d, #e0652c);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
}

.login-heading {
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 1.6rem;
    text-indent: 10px;
    color: #ff0;
}

.login-form {
    background: #fff;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    padding: 10px;
}

.login-form fieldset {
    border: 0;
    border-bottom: 1px solid #aaa;
    padding: 0 0 10px 0;
    margin: 0;
    position: relative;
}

.user-pw {
    margin-top: 5px;
}

.login-form label {
    display: inline-block;
    width: 4em;
}

.login-form input {
    box-sizing: border-box;
    width: 95px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 2px;
    background: red;
    color: white;
    font-size: 11px;
}

.member {
    padding: 0 10px 10px 10px;
    background: white;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}*/


/*유효성 검사 배너 링크*/

.validation {
    margin-top: 20px;
}

.validation-list li {
    list-style-type: none;
}

.validation-list a {
    display: block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin-bottom: 10px;
    text-indent: 40px;
    background: url("images/validation_icon.png") no-repeat 15px 50%, linear-gradient(to bottom, #eee, #ccc);
}


/*웹 관련 용어*/

.term {
    background: linear-gradient(to bottom, #eee, #ccc);
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 15px;
}

.term-heading {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
}

.term-list {
    margin: 10px 0 0 0;
}

.term-list::after {
    content: "";
    display: block;
    clear: both;
}

.term-list-subject {
    color: #296897;
    font-family: "Noto Sans Bold";
}

.term-list-thumbnail {
    float: left;
}

.even .term-list-thumbnail {
    float: right;
}

.term-list-brief {
    margin-top: 5px !important;
}

.term-list-subject,
.term-list-brief {
    float: right;
    width: 145px;
}

.even .term-list-subject,
.even .term-list-brief {
    float: left;
}

.term-list-thumbnail,
.term-list-brief {
    margin: 0;
}


/*.term {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: linear-gradient(to bottom, #eee, #ccc);
}

.term-heading {
    font-size: 15px;
    font-family: "Noto Sans Bold";
    margin-bottom: 10px;
}

.term-list {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.term-list-subject {
    color: #296897;
    display: inline-block;
    font-family: "Noto Sans Bold";
    /*float: right;
    width: 140px;
}

.term-list-thumbnail {
    float: left;
    margin-left: 0;
    margin-right: 15px;
}*/


/*자료검색*/

.search {
    background: linear-gradient(to bottom, #ccc, #fff);
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 5px 25px;
}

.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.search-form label::before {
    /*돋보기 모양 아이콘*/
    content: "z";
    font-family: "webcafeIcon";
    position: relative;
    top: 2px;
}

.search-form input {
    width: 195px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 5px;
    margin: 0 5px;
}

.btn-search {
    border: 1px solid #aaa;
    padding: 0 10px;
    height: 24px;
    border-radius: 3px;
    color: #FFF;
    background: linear-gradient(to bottom, #333, #999);
}


/*.search {
    background: linear-gradient(to bottom, #ccc, #fff);
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
}

.search fieldset {
    border: 0;
    margin: 15px 10px 10px 20px;
}

.search label {
    margin-right: 5px;
}

.search input {
    width: 200px;
    height: 22px;
}

.btn-search {
    color: #fff;
    background: linear-gradient(to bottom, #333, #999);
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 10px;
    cursor: pointer;
}*/


/*공지사항 및 자료실*/

.board {
    margin-top: 20px;
    position: relative;
    height: 180px;
}

.notice-heading,
.pds-heading {
    background: linear-gradient(to bottom, #eee, #ccc);
    color: #999;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    cursor: pointer;
    float: left;
}

.act .notice-heading,
.act .pds-heading {
    border-color: #e0652c;
    border-bottom-color: #fff;
    background: #fff;
    color: #e0652c;
    outline: 0;
}

.notice-list,
.pds-list {
    box-sizing: border-box;
    width: 100%;
    list-style-type: square;
    position: absolute;
    top: 45px;
    left: 0;
    padding-left: 20px;
}

.notice-list li,
.pds-list li {
    margin: 10px 0;
}

.notice-list a,
.pds-list a {
    width: 285px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice-list time,
.pds-list time {
    float: right;
}

.notice-more,
.pds-more {
    position: absolute;
    top: 0;
    right: -8px;
    padding: 8px;
}

.notice-more::before,
.pds-more::before {
    content: "p";
    font-family: "webcafeicon";
    color: #23f321;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.notice-list,
.pds-list,
.notice-more,
.pds-more {
    display: none;
}

.act .notice-list,
.act .pds-list,
.act .notice-more,
.act .pds-more {
    display: block;
}


/*.board {
    background: yellow;
    margin-top: 20px;
}

.notice,
.pds {
    position: relative;
}

.notice-heading,
.pds-heading {
    background: linear-gradient(to bottom, #eee, #ccc);
    color: #666;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.act .notice-heading,
.act .pds-heading {
    background: #fff;
    color: #e0652c;
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    border-color: #e0652c;
}

.notice-heading {}

.pds-heading {}

.notice-list,
.pds-list {
    background: pink;
    list-style-type: square;
    margin-top: 20px;
}

.notice-list time,
.pds-list time {
    float: right;
}

.notice-more,
.pds-more {
    position: absolute;
    right: 0;
    top: 2px;
}

.notice-more::before,
.pds-more::before {
    content: "p";
    color: #23f321;
    font-family: "webcafeIcon";
    position: relative;
    top: 2px;
}*/


/*새소식*/

.news {
    margin-top: 20px;
    position: relative;
}

.news::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background: linear-gradient(to right, #aaa, #fff);
    top: 35px;
    left: 0;
}

.news-heading {
    font-family: "Noto Sans Bold";
    font-size: 1.6rem;
    color: red;
}

.news-item {
    margin-top: 30px;
    padding-left: 130px;
    position: relative;
}

.news-item a {
    display: block;
}

.news-item-heading {
    font-family: "Noto Sans Bold"
}

.news-item-heading::before {
    content: "r";
    font-family: "webcafeicon";
    position: relative;
    top: 2px;
}

.news-item-date,
.news-item-brief {
    margin: 5px 0 0 1em;
    display: block;
}

.news-item-thumbnail {
    margin: 0;
    position: absolute;
    top: 1px;
    left: 5px;
    text-align: center;
}

.news-item-thumbnail img {
    margin-bottom: 15px;
    box-shadow: 0 10px 15px 0 #aaa;
}

.news-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.news-more::before {
    content: "p";
    font-family: "webcafeicon";
    color: #23f321;
    position: relative;
    top: 2px;
    margin-right: 2px;
}


/*.news {
    margin-top: 20px;
    position: relative;
}

.news-heading {
    background: lime;
    color: red;
    height: 32px;
    border-bottom: 1px solid #aaa;
}

.news-item-heading {
    background: pink;
    font-family: "Noto Sans Bold";
}

.news-item-heading::before {
    content: "r";
    font-family: "webcafeicon";
}

.news-item-date {}

.news-item-brief {
    background: violet;
}

.news-item-thumbnail {
    float: left;
}

.news-item-thumbnail img {
    box-shadow: 0 10px 15px 0 #aaa;
}

.news-more {
    background: skyblue;
    position: absolute;
    top: 0;
    right: -8px;
    padding: 8px;
}

.news-more::before {
    content: "p";
    font-family: "webcafeicon";
    color: #23f321;
    position: relative;
    top: 2px;
}*/


/*신규이벤트 및 관련사이트*/

.event-related {
    background: linear-gradient(to bottom, #eee, #ccc);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}

.event {
    border-bottom: 1px solid #aaa;
    position: relative;
}

.event-heading,
.related-heading {
    font-family: "Noto Sans Bold";
    font-size: 1.6rem;
}

.event-heading span,
.related-heading span {
    color: red;
}

#event-detail {
    margin-top: 10px;
}

#event-detail p {
    padding-bottom: 10px;
}

#event-detail img {
    box-shadow: 5px 5px 0 0 #aaa;
}

#event-detail em {
    font-style: normal;
}

.btn-event {
    position: absolute;
    height: 19px;
    top: 0;
    right: 0;
}

.btn-event-prev,
.btn-event-next {
    width: 18px;
    height: 19px;
    border: 0;
    padding: 19px 0 0 0;
    cursor: pointer;
    overflow: hidden;
    background: url("images/back_forward.png") no-repeat;
}

.btn-event-prev:focus,
.btn-event-next:focus {
    outline: 1px dotted #000;
}

.btn-event-next {
    background-position: -36px 0;
}

.related {
    margin-top: 10px;
}

.related-list {
    list-style-type: none;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 10px;
    height: 25px;
    overflow: hidden;
    transition: all 0.5s;
}

.list-act {
    height: 125px;
    padding: 5px 0;
}

.related-list:hover {
    height: 125px;
    padding: 5px 0;
}


/*.related-list:hover,
.related-list:focus {
    height: 125px;
    padding: 5px 0;
}*/

.related-list a {
    display: block;
    line-height: 25px;
    padding-left: 25px;
}


/*.event-related {
    background: linear-gradient(to bottom, #eee, #ccc);
    position: relative;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}

.event-heading {
    font-family: "Noto Sans Bold";
}

.event-heading span {
    color: red;
}

.event {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

#event-detail img {
    margin: 10px 0 15px 0;
    box-shadow: 5px 5px 0 0 #aaa;
}

#event-detail em {
    font-style: normal;
}

.btn-event {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 0;
    padding-top: 19px;
    overflow: hidden;
    top: 10px;
    right: 0px;
    padding: 8px;
    background: url("images/back_forward.png");
}

.btn-event-next {
    background-position: -36px 0;
}

.related-heading {
    font-family: "Noto Sans Bold";
}

.related-heading span {
    color: red;
}

.related-list {
    list-style-type: none;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.related-list li {
    padding: 5px;
}*/


/*.btn-prev,
.btn-next {
    display: inline-block;
    width: 20px;
    height: 0;
    padding-top: 19px;
    overflow: hidden;
    background: pink url("images/backpage_forwardpage.png");
}*/


/*인기사이트*/

.favorite {
    background: linear-gradient(to bottom, #eee, #ccc);
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.favorite-heading {
    font-family: "Noto Sans Bold";
    font-size: 1.6rem;
}

.favorite-heading span {
    color: red;
}

.favorite-list {
    padding: 0;
    margin: 10px 0 0 0;
    overflow: hidden;
}

.favorite-list li {
    counter-increment: number;
    position: relative;
}

.favorite-list li::before {
    content: counter(number, decimal);
    border: 1px soild #aaa;
    border-radius: 5px;
    color: #fff;
    background: #aaa;
    padding: 0 5px;
    margin-right: 5px;
    font-size: 1.2rem;
}

.up,
.stop,
.down {
    font-style: normal;
    width: 9px;
    height: 0;
    padding-top: 11px;
    overflow: hidden;
    background: url("images/rank.png") no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.stop {
    background-position: 0 50%;
}

.down {
    background-position: 0 100%;
}

.favorite-more {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 8px;
}

.favorite-more::before {
    content: "p";
    font-family: "webcafeicon";
    color: #23f321;
    margin-right: 3px;
    position: relative;
    top: 2px;
}


/*.favorite {
    background: linear-gradient(to bottom, #eee, #ccc);
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.favorite-heading {
    font-family: "Noto Sans Bold";
    font-size: 1.6rem;
}

.favorite-heading span {
    color: red;
}

.favorite-list {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.no1::before {
    content: "1";
    border: 1px soild #aaa;
    border-radius: 5px;
    color: #fff;
    background: #aaa;
    padding: 0 5px;
    margin-right: 5px;
}

.no2::before {
    content: "2";
    border: 1px soild #aaa;
    border-radius: 5px;
    color: #fff;
    background: #aaa;
    padding: 0 5px;
    margin-right: 5px;
}

.no3::before {
    content: "3";
    border: 1px soild #aaa;
    border-radius: 5px;
    color: #fff;
    background: #aaa;
    padding: 0 5px;
    margin-right: 5px;
}

.no4::before {
    content: "4";
    border: 1px soild #aaa;
    border-radius: 5px;
    color: #fff;
    background: #aaa;
    padding: 0 5px;
    margin-right: 5px;
}

.up,
.stop,
.down {
    width: 9px;
    height: 11px;
    padding: 11px 0 0 0;
    overflow: hidden;
    background: url("images/rank.png") no-repeat;
}

.stop {
    background-position: 0 50%;
}

.down {
    background-position: 0 100%;
}

.favorite-list em {
    float: right;
}

.favorite-more {
    position: absolute;
    top: 10px;
    right: 10px;
}

.favorite-more::before {
    content: "p";
    font-family: "webcafeicon";
    color: #23f321;
    margin-right: 3px;
    position: relative;
    top: 2px;
}*/

.slogan {
    height: 10vh;
}

.footer-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1) 100%) repeat 0 0;
}

.footer {
    height: 10vh;
}